<h1>Lista Geral</h1>
<hr>
{{#each valor}}
<p><span class="format">Código: </span>{{this.id}}&emsp;<span class="format">Nome: </span>{{this.nome}}&emsp;<span class="format">Idade: </span>{{this.idade}}</p>
<hr>
{{/each}}